* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* CLASSI RIUTILIZZABILI *//* CLASSI RIUTILIZZABILI */

.relative {
    position: relative;
}

.btn-blue {
    display: inline-block;
    background-color: #0061ff;
    padding: 0 .6em;
    margin-right: 1.5em;
    color: #fff;
    line-height: 28px;
}

.center {
    width: 900px;
    min-width: 900px;
    margin: 0 auto;
    padding-top: 4rem;
}

p {
    font-size: .9rem;
    margin-bottom: 1rem;

}

/* CLASSI RIUTILIZZABILI *//* CLASSI RIUTILIZZABILI */

/* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  */


nav {
    position: fixed;
    top: 0;
    left: 0;


    width: 100%;
    height: 50px;

    background-color: #fff;

    text-align: center;
}

nav .nav-left {
    float: left;

    height: 50px;

    vertical-align: middle;
    line-height: 50px;
}

nav .nav-right {
    float: right;
}

nav .logo {
    float: left;
    margin: 0 1.5em;
}


nav a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

nav .logo img {
    vertical-align:middle ;
}

nav ul {
    display: inline-block;
    line-height: 50px;
    margin-right: 1.5rem;
}

nav ul li {
    list-style: none;
    display: inline-block;

    
    margin: 0 .9em;
}


/* NAV  *//* NAV  *//* NAV  *//* NAV  *//* NAV  */

/* HEADER  *//* HEADER  *//* HEADER  *//* HEADER  */

header {
    background-color: #b4d0e7;
    margin-top: 50px;
    padding-bottom: 20px;
    
}
header h1 {
    font-size: 3.5em;
    padding-bottom: 2rem;
}

header .header-txt {
    float: left;
    width: 35%;
}

header .header-img {
    position: absolute;
    bottom: -5rem;
    left: 40%;
    width: 65%;
}

header img.overflow {
    width: 100%;
    filter: drop-shadow(5px 10px 10px #999999);   
}

p.annulla {
    margin-top: .5em;
}


/* HEADER  *//* HEADER  *//* HEADER  *//* HEADER  */

/* SECTION ABBONAMENTI  *//* SECTION ABBONAMENTI  */
